@font-face {
  font-family: "CreataLight";
  src: url('../src/fonts/Creatalight.otf') format('opentype');
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: "CreataThin";
  src: url('../src/fonts/Creatathin.otf') format('opentype');
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: "CreataMedium";
  src: url('../src/fonts/Creatamedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: "CreataMediumItalic";
  src: url('../src/fonts/Creatamediumitalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: "CreataRegular";
  src: url('../src/fonts/Creataregular.otf') format('opentype');
  font-weight: normal;
  font-style: normal; 
}
:root {
  --orange : #E94F21;
  --gris : #3E3F41;
  --bleu : #171E37;
  --blanc : ##F4F6FC;
  --light : 'CreataLight', sans-serif;
  --thin : 'CreataThin', sans-serif;
  --medium : 'CreataMedium', sans-serif;
  --medium-italic : 'CreataMediumItalic', sans-serif;
  --regular : 'CreataRegular', sans-serif;
}
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--medium);
}
* {
  padding: 0;
  margin: 0;
  
}
section {
  margin: auto;
  max-width: 1200px;
}
a {
  cursor: pointer;
}